


.page-container {
	@include block;
}

.section-content {
	p {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 1em;
		letter-spacing: 1px;
	}
}

.section-title {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	padding-bottom: 15px;
	border-bottom: 5px solid;
}

// PAGES // --------------------------------------------------








// HOMEPAGE // --------------------------------------------------

.homepage-blocks {
	@include block;
	.block1, .block2 {
		height: 400px;
		padding: 30px;
	}
	.block2 {
		background: $accent1;
		text-align: center;
		text-transform: uppercase;
	}
}




.homepage-strainfinder {
}

.strainfinder-heading {
	position: relative;
	width: 100%;
	height: 600px;
	background: url('img/img-flag-sparklers.jpg') center center; 
	background-size: cover;
}
.strain-finder-title {
	@include center;
	background: rgba(255,255,255, 0.5);
	padding: 30px;
	font-size: 5em;
	font-family: 'brush';
}
.strain-item { 
	height: 200px;
	&:hover {
		opacity: .8;
		cursor: pointer;
	}
}
.strain-item-text {
	font-size: 14px;
    line-height: 1.6em;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
	@include center;
}


.learn-more-btn {
	border: 3px solid #111;
	color: #111;
	margin: 30px 0;
	min-width: 220px;
	font-weight: 600;
	&:hover {
		opacity: .8;
	}
}

.strain-img {
	max-width: 300px;
	margin: 0 auto;
}





.homepage-playlists {
	iframe { margin-bottom: 15px; }
}



.homepage-news {
	h3 {
		font-family: 'Futura Std';
		margin-bottom: 15px;
	}
	a.read-more { display: none; }
	a.read-more2  {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		display: block;
		margin: 30px 0;
		padding: 0 30px;
		line-height: 45px;
		height: 45px;
		background: black;
		color: white;
		text-align: center;
		width: 220px;
		text-transform: uppercase;
		&:hover { cursor:pointer; }
	}
}

.home-parallax-callout {
	color: white;	
	text-align: center;
	h1 { font-family: 'brush'; font-size: 48px; line-height: 1.4em; }
}









// BLOG // --------------------------------------------------


.blog-post {

}

.blog-title {
	position: absolute;
  bottom: -20px;
  left: 15px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  @include breakpoint(xs) {
		font-size: 16px;
	}
}

h1.blog-post-title {
	font-family: 'Futura Std';
	font-size: 32px;
	line-height: 1.2em;
	margin-bottom: 10px;
	padding: 0;
}

.blog-post-content {
	padding: 30px 0;
}

.sidebar-widget {
	h4 { 
		font-family: 'Futura Std';
		margin: 15px 0 0 0;
	}
	a { opacity: .5; color: black; }
	a:hover { opacity: 1; }
}
.banner-blog {
	margin-bottom: -120px;
}


.blog-meta-share {
	display: block;
	margin-top: 15px;
	a { 
		display: inline-block;
		margin-right: 5px;
		@include ease(.4s);
			opacity: .5;
		
	}
	a:hover { opacity: 1; 
  }
}


.blog-post-meta {
	opacity: .5;
}
.post-social-item {
	margin: 3px;
	font-size: 12px;
}



.sidebar {
  position: absolute;
  right: 0;
  text-align: right;
  padding-right: 15px;
  top: 500px;
  width: 200px;
  @include breakpoint(xm) {
  	display: none;
  }
}
.tag-cloud a {
	display: block;
	font-size: 14px !important;
}
.mailchimp-heading {
	margin-bottom: 15px;
}


