


.page-container {
	@include block;
}



.section-content {
	p {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 1em;
		letter-spacing: 1px;
	}
}

.section-title {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	padding-bottom: 15px;
	border-bottom: 5px solid;
}

// PAGES // --------------------------------------------------





// HOMEPAGE // --------------------------------------------------

.homepage-blocks {
	@include block;
	.block1, .block2 {
		height: 400px;
		padding: 30px;
	}
	.block2 {
		background: $accent1;
		text-align: center;
		text-transform: uppercase;
	}
}


.homepage-about {
	padding: 0;
}
.homepage-strainfinder {

}
.strainfinder-heading {
	position: relative;
	width: 100%;
	height: 600px;
	background: url('img/img-flag-sparklers.jpg') center center; 
	background-size: cover;
}
.strain-finder-title {
	@include center;
	background: rgba(255,255,255, 0.5);
	padding: 30px;
	font-size: 5em;
	font-family: 'brush';
}
.strain-item { 
	height: 200px;
}
.strain-item-text {
	font-size: 2em;
	text-align: center;
	display: block;
	@include center;
}
.learn-more-btn {
	border: 3px solid #111;
	color: #111;
	margin: 30px 0;
	min-width: 220px;
	&:hover {
		border: 3px solid $accent1;
		color: $accent1;
	}
}



.home-parallax-callout {
	color: white;	
	text-align: center;
}


// BLOG // --------------------------------------------------

.sidebar-widget {
	h4 { 
		margin: 15px 0 0 0;
	}
}

.news-post {
	padding: 0 90px;
	img { 
		width: 100%; max-width: 100%;
	}
}
.news-post-title { 
	margin-bottom: 0 !important; 
}
.news-post-meta {
	margin-bottom: 15px;
	color: #999;
}



